/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/*.log*
composer.phar
.buildpath
.project
.settings/
laravel-echo-server.json
laravel-echo-server.lock